# Archivos de NetBeans
nbproject/private/
build/
dist/
nbactions.xml
nb-configuration.xml

# Archivos de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Archivos compilados
*.class
*.jar
*.war
*.ear

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
*.iml
*.ipr
*.iws

# Archivos de registro
*.log
*.tmp
